<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="input-group">
        <p>
            <label>Initial Investment</label>
            <input formControlName= "initialInvestment" type="number">
        </p>

        <p>
            <label>Anual Investment</label>
            <input formControlName= "annualInvestment" type="number">
        </p>

        <p>
            <label>Expected Return</label>
            <input formControlName= "expectedReturn" type="number">
        </p>

        <p>
            <label>Duration</label>
            <input formControlName= "duration" type="number">
        </p>

    </div>

    <p>
        <button type="submit">CALCULATE</button>
    </p>
</form>
