<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="input-group">

        <label>Initial Investment</label>
        <input formControlName= "initialInvestment" type="number">

        <label>Anual Investment</label>
        <input formControlName= "annualInvestment" type="number">

        <label>Expected return</label>
        <input formControlName= "expectedReturn" type="number">

        <label>Duration</label>
        <input formControlName= "duration" type="number">

    </div>

    <button type="submit">CALCULATE</button>
</form>
